# Rozcvička
V datech se můžou vyskytnout chyby. Např. v datasetu `food_nutrient.csv` ve sloupci `amount` více než 100 000 miligramů výživné látky nedává smysl, jelikož uváděné hodnoty jsou vždy přepočtené na 100 gramů (100 000 miligramů) potraviny.

Úkoly:
* Načti si dataset `food_nutrient.csv`.
* Vyhledej a ulož do nového DataFramu všechny řádky, kde jsou hodnoty v miligramech (ve sloupci `unit_name` je hodnota `MG`) a množství látky (sloupec `amount`) má větší hodnotu než 100 000. 
* Bonus: Do tohoto DF přidej sloupec `review_note`, do kterého ke všem záznamům ulož poznámku "Incorrect value in 'amount'".
* Ulož tato data do tabulky `error_report.csv` pomocí metody `.to_csv()` jako např. `food_nutrient_errors.to_csv("error_report.csv")`.

In [135]:
import pandas as pd

food_nutrient = pd.read_csv("food_nutrient.csv")
food_nutrient.head(3)

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,1106032,1257,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
1,1107191,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
2,1107295,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G

In [136]:
# Pomocí podmínek
food_nutrient_errors = food_nutrient[(food_nutrient["amount"] > 100_000) 
                                     & (food_nutrient["unit_name"] == "MG")]

# Pomocí query
# food_nutrient_errors = food_nutrient.query("amount > 100_000 and unit_name == 'MG'")

food_nutrient_errors.head()

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
18231,1048385,1092,101770.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG
18888,1527945,1092,176991.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG
63254,944746,1093,282828.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
65700,1599725,1093,323944.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
67418,1982925,1093,203125.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG

In [137]:
food_nutrient_errors["review_note"] = "Incorrect value in 'amount'"
food_nutrient_errors.head()

C:\Users\mapup\AppData\Local\Temp\ipykernel_11520\1323088129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_nutrient_errors["review_note"] = "Incorrect value in 'amount'"

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name,review_note
18231,1048385,1092,101770.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG,Incorrect value in 'amount'
18888,1527945,1092,176991.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG,Incorrect value in 'amount'
63254,944746,1093,282828.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG,Incorrect value in 'amount'
65700,1599725,1093,323944.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG,Incorrect value in 'amount'
67418,1982925,1093,203125.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG,Incorrect value in 'amount'

In [138]:
food_nutrient_errors.to_csv("error_report.csv", encoding="utf-8")