# Načtení dat a popisné metody

## Načtení dat

In [15]:
import pandas as pd

food = pd.read_csv('food_sample_100.csv')
# food = pd.read_csv('food_sample_100.csv', sep=",", encoding="utf-8")
food

,fdc_id,data_type,description,food_category_id,publication_date
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01
4,322951,sub_sample_food,Hot dogs beef,7.0,2019-04-01
...,...,...,...,...,...
95,2260615,sub_sample_food,"Yogurt, whole milk, plain",1.0,2022-04-28
96,2646468,sub_sample_food,"chicken, breast, boneless, skinless",5.0,2023-10-19
97,2647032,sub_sample_food,"pork, loin, boneless",10.0,2023-10-19
98,2349564,sub_sample_food,"Oats, whole grain, rolled, old fashioned",20.0,2022-10-28
99,328565,market_acquisition,"Cheese, cheddar, mild, block/chunk, store bran...",1.0,2019-04-01

In [16]:
# Pozor: Metoda vraci novy DataFrame s upravenym indexem, tzn. neprepisuje automaticky stary.
# Proto ho musime znovu ulozit do promenne food
food = food.set_index("fdc_id")

# Pripadne lze index nastavit rovnou pri nacteni parametrem index_col
# food = pd.read_csv('food_sample_100.csv', index_col="fdc_id")

## Metody pro získání přehledu o datech

In [17]:
food.head()
# food.head(3)

               data_type    description  food_category_id publication_date
fdc_id
2644829  sub_sample_food   lentils, dry              16.0       2023-10-19
2347263  sub_sample_food    heavy cream               1.0       2022-10-28
2261954  sub_sample_food  Flour, potato              11.0       2022-04-28
321470   sub_sample_food  Salt, Iodized               2.0       2019-04-01
322951   sub_sample_food  Hot dogs beef               7.0       2019-04-01

In [18]:
food.tail()

,data_type,description,food_category_id,publication_date
fdc_id,,,,
2260615,sub_sample_food,"Yogurt, whole milk, plain",1.0,2022-04-28
2646468,sub_sample_food,"chicken, breast, boneless, skinless",5.0,2023-10-19
2647032,sub_sample_food,"pork, loin, boneless",10.0,2023-10-19
2349564,sub_sample_food,"Oats, whole grain, rolled, old fashioned",20.0,2022-10-28
328565,market_acquisition,"Cheese, cheddar, mild, block/chunk, store bran...",1.0,2019-04-01

In [19]:
food.sample(3)

,data_type,description,food_category_id,publication_date
fdc_id,,,,
1751660,sub_sample_food,"SOY MILK, UNSWEETENED, PLAIN, SHELF STABLE",16.0,2021-04-23
2004725,sub_sample_food,"GRAPE JUICE, PURPLE, FROM CONCENTRATE WITH ADD...",9.0,2021-10-15
1751190,sub_sample_food,"ALMOND MILK, UNSWEETENED, PLAIN, SHELF STABLE",14.0,2021-04-23

In [20]:
food.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2644829 to 328565
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_type         100 non-null    object
 1   description       100 non-null    object
 2   food_category_id  99 non-null     float64
 3   publication_date  100 non-null    object
dtypes: float64(1), object(3)
memory usage: 3.9+ KB

In [21]:
# food.shape
food.shape[0]

# Funguje i len() z Pythonu
len(food)

100

In [22]:
food.columns
# food.columns[1]
# list(food.columns)

Index(['data_type', 'description', 'food_category_id', 'publication_date'], dtype='object')

## Výběr sloupců

In [23]:
# Vystupem je Series
food['description']

fdc_id
2644829                                         lentils, dry
2347263                                          heavy cream
2261954                                        Flour, potato
321470                                         Salt, Iodized
322951                                         Hot dogs beef
                                 ...
2260615                            Yogurt, whole milk, plain
2646468                  chicken, breast, boneless, skinless
2647032                                 pork, loin, boneless
2349564             Oats, whole grain, rolled, old fashioned
328565     Cheese, cheddar, mild, block/chunk, store bran...
Name: description, Length: 100, dtype: object

In [24]:
# Vystupem je DataFrame
food[['description', 'publication_date']]

                                               description publication_date
fdc_id
2644829                                       lentils, dry       2023-10-19
2347263                                        heavy cream       2022-10-28
2261954                                      Flour, potato       2022-04-28
321470                                       Salt, Iodized       2019-04-01
322951                                       Hot dogs beef       2019-04-01
...                                                    ...              ...
2260615                          Yogurt, whole milk, plain       2022-04-28
2646468                chicken, breast, boneless, skinless       2023-10-19
2647032                               pork, loin, boneless       2023-10-19
2349564           Oats, whole grain, rolled, old fashioned       2022-10-28
328565   Cheese, cheddar, mild, block/chunk, store bran...       2019-04-01

[100 rows x 2 columns]

In [25]:
# Vystupem je DataFrame
food[['description']]

                                               description
fdc_id
2644829                                       lentils, dry
2347263                                        heavy cream
2261954                                      Flour, potato
321470                                       Salt, Iodized
322951                                       Hot dogs beef
...                                                    ...
2260615                          Yogurt, whole milk, plain
2646468                chicken, breast, boneless, skinless
2647032                               pork, loin, boneless
2349564           Oats, whole grain, rolled, old fashioned
328565   Cheese, cheddar, mild, block/chunk, store bran...

[100 rows x 1 columns]

## Další metody

(z kapitoly Podmíněný výběr)

In [26]:
food["data_type"].unique()

array(['sub_sample_food', 'sample_food', 'market_acquisition',
       'agricultural_acquisition'], dtype=object)

In [27]:
food["data_type"].value_counts()

data_type
sub_sample_food             84
market_acquisition           9
sample_food                  4
agricultural_acquisition     3
Name: count, dtype: int64

In [28]:
# Procentualni zastoupeni
food["data_type"].value_counts(normalize=True)

data_type
sub_sample_food             0.84
market_acquisition          0.09
sample_food                 0.04
agricultural_acquisition    0.03
Name: proportion, dtype: float64