# Cvičení 1: Vláknina

## Zadání

Problémem dnešních potravin je často nedostatek vlákniny. Konzumace potravin bohatých na vlákninu může být pro řadu lidí zdravotně prospěná. Vyhledej v tabulce `food_nutrient` potraviny, které obsahují alespoň 10 gramů vlákniny. Vláknina je uložená pod názvem `Fiber, total dietary`. Napiš dotaz jako jeden příkaz a využij operátor `&`.

In [3]:
import pandas as pd

food_nutrient = pd.read_csv("food_nutrient.csv")

In [4]:
fiber_rich = food_nutrient[
    (food_nutrient["name"] == "Fiber, total dietary")
    & (food_nutrient["amount"] >= 10)
]

# Pomoci metody query
# fiber_rich = food_nutrient.query('name == "Fiber, total dietary" and amount >= 10')

fiber_rich

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
83639,1109336,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83666,1114461,1079,10.7,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83667,1114961,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83675,1117734,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83681,1118500,1079,11.1,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91545,2638057,1079,15.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91584,2651678,1079,39.5,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91598,2654454,1079,10.7,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91599,2654695,1079,11.8,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91629,2660613,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G

# Cvičení 3: Česká jména

Stáhni a načti si soubor [jmena.csv](https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber/ceska-jmena/jmena.csv), která obsahuje nejpoužívanější česká jména.

- Vypiš všechny řádky se jmény, jejichž nositelé mají průměrný věk vyšší než 60 (hodnota ve sloupci `prumerny_vek` je větší než 60).
- Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000.
- Vypiš jména a četnost pro jména se slovanským nebo hebrejským původem. Kolik takových jmen je?

Pro poslední úkol můžeš využít operátor `|`. Alternativně si můžeš vyzkoušet metodu `.isin()`, která zápis zkrátí. 
Jako parametr vkládáme seznam hodnot, které vyhovují podmínce. Níže je příklad použití metody.  
Z tabulky `tabulka` chceme vybrat řádky, které ve sloupci `sloupec` mají hodnotu `hodnota_1` nebo `hodnota_2`. 
Pokud jsi vytvořil(a) i verzi s operátorem `|`, můžeš obě verze porovnat a rozhodnout se, která verze se ti líbí více.

`tabulka = tabulka[tabulka["sloupec"].isin(["hodnota_1", "hodnota_2"])]`

In [12]:
import pandas as pd

# Stažení z URL
url = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber/ceska-jmena/jmena.csv"
jmena = pd.read_csv(url)

# Alternativa: načtení předem uloženého souboru
# jmena = pd.read_csv("jmena.csv")

jmena

        jmeno  cetnost  prumerny_vek pohlavi      puvod
0        Jiří   296090            49       m      řecký
1         Jan   293938            40       m  hebrejský
2        Petr   272135            42       m      řecký
3        Jana   264944            50       ž  hebrejský
4       Marie   260526            65       ž  hebrejský
..        ...      ...           ...     ...        ...
95   Jindřich    26230            51       m    německý
96  Vlastimil    26014            54       m  slovanský
97        Iva    26003            46       ž  slovanský
98      Miloš    25509            53       m  slovanský
99     Zdenka    25416            68       ž  slovanský

[100 rows x 5 columns]

In [6]:
# Vypiš všechny řádky se jmény, jejichž nositelé mají průměrný věk vyšší než 60.
jmena[jmena["prumerny_vek"] > 60]

        jmeno  cetnost  prumerny_vek pohlavi      puvod
4       Marie   260526            65       ž  hebrejský
23       Věra   107388            63       ž  slovanský
30  Jaroslava    84556            63       ž  slovanský
38    Ludmila    72750            65       ž  slovanský
40     Zdeňka    69060            61       ž  slovanský
50    Jarmila    59666            65       ž  slovanský
53     Jiřina    55366            64       ž      řecký
64     Vlasta    41736            68       ž  slovanský
68     Božena    39851            72       ž  slovanský
70     Libuše    39269            66       ž  slovanský
71      Marta    38897            63       ž  aramejský
91     Růžena    28952            69       ž  slovanský
99     Zdenka    25416            68       ž  slovanský

In [7]:
# Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000 - pomocí složené podmínky
jmena[(jmena["cetnost"] >= 80_000) & (jmena["cetnost"] <= 100_000)]

        jmeno  cetnost  prumerny_vek pohlavi      puvod
29   Veronika    88854            25       ž      řecký
30  Jaroslava    84556            63       ž  slovanský
31   Vladimír    83762            56       m  slovanský
32     Tereza    83692            18       ž      řecký
33    Martina    81312            36       ž   latinský

In [8]:
# Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000 - pomocí složené podmínky
jmena[jmena["cetnost"].between(80_000, 100_000)]

        jmeno  cetnost  prumerny_vek pohlavi      puvod
29   Veronika    88854            25       ž      řecký
30  Jaroslava    84556            63       ž  slovanský
31   Vladimír    83762            56       m  slovanský
32     Tereza    83692            18       ž      řecký
33    Martina    81312            36       ž   latinský

In [9]:
# Slovanský nebo Hebrejský původ - pomocí složené podmínky
jmena[(jmena["puvod"] == "slovanský") | (jmena["puvod"] == "hebrejský")]

        jmeno  cetnost  prumerny_vek pohlavi      puvod
1         Jan   293938            40       m  hebrejský
3        Jana   264944            50       ž  hebrejský
4       Marie   260526            65       ž  hebrejský
5       Josef   211317            57       m  hebrejský
9    Jaroslav   172785            55       m  slovanský
10        Eva   152463            53       ž  hebrejský
11   Miroslav   147753            52       m  slovanský
12       Hana   145901            51       ž  hebrejský
13       Anna   134819            51       ž  hebrejský
14     Zdeněk   126094            54       m  slovanský
15     Václav   123927            51       m  slovanský
16     Michal   123324            32       m  hebrejský
21      Jakub   108013            19       m  hebrejský
22      Milan   107458            51       m  slovanský
23       Věra   107388            63       ž  slovanský
24      Alena   105093            55       ž  hebrejský
28      David   101311            25       m  hebrejský
30  Jaroslava    84556            63       ž  slovanský
31   Vladimír    83762            56       m  slovanský
34   Michaela    78823            28       ž  hebrejský
35      Jitka    78187            51       ž  hebrejský
38    Ludmila    72750            65       ž  slovanský
39   Ladislav    69797            55       m  slovanský
40     Zdeňka    69060            61       ž  slovanský
41      Ivana    68917            49       ž  slovanský
45  Stanislav    61889            54       m  slovanský
46     Eliška    61517            24       ž  hebrejský
47     Zuzana    61382            34       ž  hebrejský
48     Daniel    60935            23       m  hebrejský
50    Jarmila    59666            65       ž  slovanský
51      Radek    58589            36       m  slovanský
56    Vojtěch    52802            22       m  slovanský
58       Dana    50781            51       ž  hebrejský
61       Adam    47837            14       m  hebrejský
64     Vlasta    41736            68       ž  slovanský
66  Miroslava    41151            54       ž  slovanský
68     Božena    39851            72       ž  slovanský
70     Libuše    39269            66       ž  slovanský
72      Matěj    38519            13       m  hebrejský
73      Šárka    38339            37       ž  slovanský
82   Miloslav    32769            60       m  slovanský
84   Gabriela    31175            33       ž  hebrejský
85    Jaromír    30984            55       m  slovanský
89      Aneta    29840            17       ž  hebrejský
90     Simona    29618            30       ž  hebrejský
91     Růžena    28952            69       ž  slovanský
92      Radka    26939            38       ž  slovanský
93    Daniela    26536            38       ž  hebrejský
96  Vlastimil    26014            54       m  slovanský
97        Iva    26003            46       ž  slovanský
98      Miloš    25509            53       m  slovanský
99     Zdenka    25416            68       ž  slovanský

In [10]:
# Slovanský nebo Hebrejský původ - pomocí isin()
jmena[jmena["puvod"].isin(["slovanský", "hebrejský"])]

        jmeno  cetnost  prumerny_vek pohlavi      puvod
1         Jan   293938            40       m  hebrejský
3        Jana   264944            50       ž  hebrejský
4       Marie   260526            65       ž  hebrejský
5       Josef   211317            57       m  hebrejský
9    Jaroslav   172785            55       m  slovanský
10        Eva   152463            53       ž  hebrejský
11   Miroslav   147753            52       m  slovanský
12       Hana   145901            51       ž  hebrejský
13       Anna   134819            51       ž  hebrejský
14     Zdeněk   126094            54       m  slovanský
15     Václav   123927            51       m  slovanský
16     Michal   123324            32       m  hebrejský
21      Jakub   108013            19       m  hebrejský
22      Milan   107458            51       m  slovanský
23       Věra   107388            63       ž  slovanský
24      Alena   105093            55       ž  hebrejský
28      David   101311            25       m  hebrejský
30  Jaroslava    84556            63       ž  slovanský
31   Vladimír    83762            56       m  slovanský
34   Michaela    78823            28       ž  hebrejský
35      Jitka    78187            51       ž  hebrejský
38    Ludmila    72750            65       ž  slovanský
39   Ladislav    69797            55       m  slovanský
40     Zdeňka    69060            61       ž  slovanský
41      Ivana    68917            49       ž  slovanský
45  Stanislav    61889            54       m  slovanský
46     Eliška    61517            24       ž  hebrejský
47     Zuzana    61382            34       ž  hebrejský
48     Daniel    60935            23       m  hebrejský
50    Jarmila    59666            65       ž  slovanský
51      Radek    58589            36       m  slovanský
56    Vojtěch    52802            22       m  slovanský
58       Dana    50781            51       ž  hebrejský
61       Adam    47837            14       m  hebrejský
64     Vlasta    41736            68       ž  slovanský
66  Miroslava    41151            54       ž  slovanský
68     Božena    39851            72       ž  slovanský
70     Libuše    39269            66       ž  slovanský
72      Matěj    38519            13       m  hebrejský
73      Šárka    38339            37       ž  slovanský
82   Miloslav    32769            60       m  slovanský
84   Gabriela    31175            33       ž  hebrejský
85    Jaromír    30984            55       m  slovanský
89      Aneta    29840            17       ž  hebrejský
90     Simona    29618            30       ž  hebrejský
91     Růžena    28952            69       ž  slovanský
92      Radka    26939            38       ž  slovanský
93    Daniela    26536            38       ž  hebrejský
96  Vlastimil    26014            54       m  slovanský
97        Iva    26003            46       ž  slovanský
98      Miloš    25509            53       m  slovanský
99     Zdenka    25416            68       ž  slovanský